body{
    background-color: azure;
}
.heading{
    background: #bbdfc8;
    margin: 30px 30px 20px;
    font-size: 50px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    border-width: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.421);
}
.borders{
    padding: 20px;
    border: 5px solid #bbdfc8;
    margin: 70px 30px;
}
.about{
    padding: 3px;
    font-size: medium;
    font-weight: bold;
    color: black;
}
hr{
    background-color: #bbdfc8;
    height: 1px;
}
.card{
    margin: 50px 30px;
    background-color: #bbdfc8;
}
.us{
    position: relative;
    text-align: left;
    bottom: 735px;
    background: #bbdfc8;
    margin: 0px 350px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    border-width: 30px;
}
.card-group{
    position: relative;
    text-align: center;
    bottom: 7155px;
    background: #bbdfc8;
    margin: 0px 40px 0px 600px;
    border-radius: 10px;
    width: 300px;
}
.hod{
    position: relative;
    left: 100px;
    bottom: 785px;
    text-align: center;
    /*margin: 0 30px 0 1100px;*/
    width: 300px;
    height: 770px;
    background: #bbdfc8;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    font-size: small;
    font-weight: bold;
}
h4{
    /* margin: 10px; */
    padding: 10px 10px 5px;
}
img{
    width: 220px;
    height: 190px;
    padding-bottom: 10px;
}
.about-us{
    position: absolute;
    top: 350px;
    left: 390px;
    right: 390px;
    padding: 20px 20px 100px;
    margin: 30px 0 300px 0;
    border: 1px solid #bbdfc8;
}

.department-img{
    padding: 50px 0 0 0;
    margin: 40px 70px;
}
/* .carsouel-inner{
    width: 400px;
} */
.d-block{
    height: 300px;
}
.footer{
    background: #bbdfc8;
    height: 400px;
}

.bottom-card{
    position: absolute;
    top: 1100px;
    height: 700px;
}
.bottom-card-body{
    text-align: left;
    position: relative;
    left: 100px;
    padding: 50px 50px;
}
.bottom-subtitle{
    padding: 200px;
}
#cta {
    background: #bbdfc8;
    color: black;
    font-weight: bolder;
    height: 200px;
    /* padding: 0; */
    /* text-align: center; */
  }
  .foot{
    padding: 0 10px;
    color: #f05454;
  }
  #footer {
      position: relative;
      bottom: 150px;
    padding:0px 400px 0px 400px;
    margin: 20px;
    text-align: center;
  }
@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
  div.hod {
 position: relative;
margin: 10px 950px;
  }
}