.dropdown {
  margin-left: 10px;
  font-size: larger;
}
body {
  background-color: azure;
}

body {
  margin: 0;
  padding: 0;
}
.row {
  position: relative;
}
.fa-fast-forward {
  position: absolute;
  padding: 9px 0 0 8px;
  font-size: 18px;
  color: black;
}

.news-ticker {
  box-sizing: content-box;
  height: 20px;
  overflow: hidden;
  padding: 5px 10px 10px 10px;
}
.news-ticker ul {
  padding: 0;
  margin-left: 30px;
  list-style: none;
  animation: ticker 12s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 0);
}
.navbar {
  /* background-color: beige; */
  padding: 10px;
  margin: 40px 0px;
}
.navbar-brand {
  font-weight: bolder;
  font-size: x-large;
}

@keyframes ticker {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: -29px;
  }
  40% {
    margin-top: -56px;
  }

  65% {
    margin-top: -84px;
  }
  85% {
    margin-top: -110px;
  }
  100% {
    margin-top: 0;
  }
}
.news {
  padding: 0 100px;
  margin: 0 40px 0 400px;
  background: #bbdfc8;
  border-radius: 20px;
}
.news-ticker ul:hover {
  animation-play-state: paused;
}
.news-ticker ul li {
  font-size: 20px;
  line-height: 27px;
}

.about {
  margin: 10px 40px 10px 400px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
  font-size: medium;
}
.content {
  position: absolute;
  left: 20px;
  margin: 0 0px 0 40px;
  width: 300px;
  height: 500px;
  padding: 0;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  background: #bbdfc8;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.421);
  border-radius: 20px;
}
.board {
  list-style: none;
  text-shadow: none;
  font-size: large;
  padding-top: 10px;
  text-align: left;
}

.space {
  padding: 10px 10px;
  text-align: left;
}
.size {
  margin: 40px 200px 50px 600px;
}

#footer {
  padding:40px 400px 80px 400px;
  text-align: center;
}

.socila-icon {
  margin: 20px 10px;
}
#cta {
  background: #bbdfc8;
  color: black;
  font-weight: bolder;
  /* padding: 0; */
  /* text-align: center; */
}
.dropdown-item{
  background: #bbdfc8;
  margin: 2px;
  /* border-radius: 30px; */
  font-weight: bold;
}
.dropdown-menu{
  background: #bbdfc8;
}
.foot{
  padding: 0 10px;
  color: #f05454;
}
.img-thumbnail{
  width: 500px;
  height: 350px;
}
.card{
  position: absolute;
  padding: 0;
  border: none;
  height: 20px;
  margin: 0;
  background: #bbdfc8;
}