.login-box {
	padding:100px;
	margin: 0 auto;
	height:auto;
}

.login-box form {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:50%;
}

.header-logo {
    background:url('logo.png') no-repeat;
    background-position:center center;
	height:200px;
	width:1220px;
}

.main-navigation-bar {
	padding-top:10px;
}

table.watermark { background: url('../img/watermark.jpg') repeat-x;
    background-color: black;
}

table.styled{
width:50%;
border: 1px solid black;
}

table.styled td{
border: 1px solid black;
}

td.td-colored-back {
background: #0ddac8;
color:#90f89e;
font-size:15px;
font-weight:bold;
padding: 5px;
width:40%;
}

th.th-colored-back {
background: #c0dedf;
color:#F8DE90;
font-size:10px;
font-weight:bold;
padding: 2px;
border: 1px solid black;
}


td.td-text {

color:#807239;
font-size:15px;
font-weight:bold;
padding: 5px;
}


#exam_form_status td,th{
font-size:15px;
font-weight:normal;
}

#rp_exam_form_td td {
border: 1px solid black;
}

table.unlock_rp_form {
border: 1px solid black;
}

table.unlock_rp_form td{
border: 1px solid black;
font-size:15px;
font-weight:bold;
padding:0px;
}