<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
            <small>{{ msg }}</small>
        {% endfor %}
    {% endif %}
    <table>
        <thead>
            <th>Sender</th>
            <th>Subject</th>
            <th>Content</th>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{row.From}}</td>
                    <td>{{row.Subject}}</td>
                    <td>{{row.Content}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/compose"><button>Send a mail</button></a>
    <a href="/logout">Sigh out</a>
</body>
</html>