{% extends "layouts/base.html" %}

{% block title %} Customer Form  {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> ADD NEW SALES DATA </h3>
        
      </div>
      <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="list-style-type:none;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% load crispy_forms_tags %}
        <div class="col-md-10 m-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">USER BILL</h4>
              <form class="forms-sample" method="POST">
                {% csrf_token %}

                {{ form|crispy }}
                
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button> 
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
