{% extends "layouts/base.html" %}

{% block title %} Visitors {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-10 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Visitor Visualiser</h4>
              </p>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Sr. no</th>
                      <th>Customers entering</th>
                      <th>Customers leaving</th>
                      <th>customers staying</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>1</td>
                      <td>0</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td id="up">-</td>
                      <td id="down">-</td>
                      <td id="diff">-</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       
        
      </div>
    </div>



    <script>
      $(document).ready(function(){

        $.ajax({
          url:"http://127.0.0.1:8000/visitor/visit/",
          type:'get',
          
          success: function(response){
            $(".page-title").text(response.up)  
            $("#up").text(response.up)  
            $("#down").text(response.down)  
            let con=response.up-response.down
            if(con>0)
            $("#diff").text(con)
            else
            $("#diff").text(0)

            console.log(response.up)
            console.log(response.up)
            console.log(response.up)
            console.log(response.up)
            console.log(response.up)
            console.log(response.up)
            console.log(response.up)
          }
        })
      });
    </script>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
