  .headwrap{
  display:flex;
  justify-content: center; 
  }
  .Cert-button{
  display:flex;
  padding:0.5em 3.5em;
  border:0;
  font-weight:200;
  background-color: #2ecd99;
  text-align:center;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 120%;
  }
  .Cert-button:focus{
    background-color: white;
    color: black;
  }
  .td-td{
    
     text-align:center; 
  }
  .th-th{
    text-align:center;
  }